/*ФОРМА ЗА ЛОГЕАНЕ - НАЧАЛО*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(176, 255, 48, 0.15); /* Мек блясък */
  text-align: center;
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #b0ff30;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper i {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #b0ff30;
}

.input-wrapper input {
  width: 300px;
  padding: 10px 0px 10px 0px;
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #f0f0f0;
  font-size: 14px;
  transition: background 0.3s;
}

.input-wrapper input:focus {
  outline: none;
  background-color: #3d3d3d;
}

.login-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #b0ff30;
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background-color: #9ce11e;
}

#message {
  margin-top: 10px;
  font-size: 14px;
  color: #ff5c5c;
}

.menu-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*ФОРМА ЗА ЛОГЕАНЕ - НАЧАЛО*/


/*МЕНЮ*/
.app-title {
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #b0ff30;
  text-shadow: 0 0 8px rgba(176, 255, 48, 0.4);
}

.logout-btn {
  position: absolute;
  right: -100px;
  top: 40px;
  background-color: transparent;
  border: 2px solid #b0ff30;
  color: #b0ff30;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #b0ff30;
  color: #0f0f0f;
  box-shadow: 0 0 10px #b0ff30;
}

/* MENU BUTTONS */
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 80px;
  align-items: center;
}

.menu-btn {
  width: 320px;
  padding: 22px;
  background-color: #1b1b1b;
  border: 2px solid #b0ff30;
  color: #b0ff30;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.menu-btn i {
  font-size: 24px;
}

.menu-btn:hover {
  background-color: #b0ff30;
  color: #0f0f0f;
  transform: scale(1.05);
  box-shadow: 0 0 12px #b0ff30;
}
/*МЕНЮ*/


/*АПАРТАМЕНТИ*/
#apartments {
  padding: 40px;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.page-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #b0ff30;
}

.apartments-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* Таблицата */
.table-container {
  max-height: 400px; /* фиксирана височина */
  overflow-y: auto;  /* скрол ако има много редове */
  border: 1px solid #333;
  padding: 10px;
  background: #1a1a1a;
  border-radius: 8px;
}

.apartments-table {
  width: 550px;
  border-collapse: collapse;
  color: white;
}

.apartments-table th {
  background: #2a2a2a;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #333;
  color: #b0ff30;
}

.apartments-table td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

/* Дясната секция с бутоните */
.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-btn {
  width: 160px;
  padding: 12px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #b0ff30;
  transition: 0.2s;
}

.action-btn:hover {
  background: #98e628;
}

.action-btn.delete {
  background: #ff4d4d;
  color: white;
}

.action-btn.delete:hover {
  background: #d93b3b;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
}

.page-title {
  font-size: 32px;
  color: #b0ff30;
  margin: 0;
}

.back-btn {
  position: absolute;
  left: 0;
  background: #b0ff30;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}

.back-btn:hover {
  background: #98e628;
}

/*АПАРТАМЕНТИ*/
.check-col {
  width: 40px;
  text-align: center;
}

.row-check {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b0ff30;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background: transparent;
  transition: 0.2s;
}


.row-check:hover {
  box-shadow: 0 0 4px #b0ff30;
}

.row-check:checked {
  background: #b0ff30;
}

.row-check:checked::after {
  content: "✔";
  color: black;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 3px;
  font-weight: bold;
}


/* .row-check-small {
  appearance: none;
  -webkit-appearance: none;
  width: 1px;
  height: 1px;
  border: 1px solid #b0ff30;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  background: transparent;
  transition: 0.2s;
}

.row-check-small:hover {
  box-shadow: 0 0 2px #b0ff30;
}

.row-check-small:checked {
  background: #b0ff30;
}

.row-check-small:checked::after {
  content: "✔";
  color: black;
  font-size: 10px;
  position: absolute;
  top: -2px;
  left: 3px;
  font-weight: bold;
} */



.modal {
  display: none; /* скрито по начало */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  color: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border: 1px solid #333;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #b0ff30;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #b0ff30;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  background: #111;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
  outline: none;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background: #b0ff30;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.save-btn:hover {
  background: #96e229;
}

.cancel-btn {
  background: #ff4d4d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #d93b3b;
}

/*Съобщения*/
#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s, transform .4s;
  transform: translateY(-20px);
  font-weight: bold;
}
#toast.show {
  opacity: 1;
  transform: translateY(0);
}

#fees {
  padding: 40px;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* Горна лента */
.fees-header {
  display: flex;
  justify-content: end;
  align-items: left;
  margin-bottom: 25px;
}

.page-title {
  font-size: 32px;
  color: #b0ff30;
}

.generate-btn {
  background: #b0ff30;
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.generate-btn:hover {
  background: #98e628;
}

/* Основен layout */
.fees-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* Таблица */
.fees-table-container {
  max-height: 420px;
  overflow-y: auto;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
}

.fees-table {
  width: 800px;
  border-collapse: collapse;
}

.fees-table th {
  background: #2a2a2a;
  padding: 10px;
  text-align: left;
  color: #b0ff30;
  border-bottom: 2px solid #333;
}

.fees-table td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

/* Дясно меню */
.fees-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-btn {
  width: 170px;
  padding: 12px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background: #b0ff30;
  color: black;
}

.action-btn:hover {
  background: #98e628;
}

.action-btn.print {
  background: #6fa8ff;
  color: black;
}

.action-btn.delete {
  background: #ff4d4d;
  color: white;
}

.modal-content.large {
  width: 650px;
}

.fees-table-wrapper {
  max-height: 180px;
  overflow-y: auto;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  margin-bottom: 15px;
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.modal-table th {
  background: #2a2a2a;
  color: #b0ff30;
  padding: 8px;
  text-align: left;
}

.modal-table td {
  padding: 8px;
  border-bottom: 1px solid #333;
}

.modal-table input[type="checkbox"] {
  accent-color: #b0ff30;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 9px;
  background: #111;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
}

#fee-type{
  display: none;
}

.fees-table-wrapper{
  display: none;
}